@media only screen and (max-device-width: 724px) {
	canvas {
		display: grid;
		grid-template-columns: auto;
        width: 100%;
		height: 100%;
		border: 6px solid var(--stroke);
		box-shadow: inset 6px 6px rgba(0,0,0,0.2);
		overflow: hidden;
		position: relative;
	}
	
	#overlappingDiv {
	  background-color: black;
	  position: absolute;
	  top: 0;
	  right: 0;
	  bottom: 0;
	  left: 0;
	  opacity: 0;
	  pointer-events: none;
	  z-index: 10;
	}
	
	#characterDialogueBox {
		box-sizing: border-box;
		position: relative;				 
        background-color: white;
	  	height: 90vh;
        width: 80vw;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    border-top: 4px black solid;
	    display: none;
	    padding: 12px;
	}
	#characterDialogueBox.textContent {
		font-family: 'Sono', sans-serif;
	}
	

	* { box-sizing: border-box; }
	html, body { 
	  min-height: 100vh; margin: 0;   
	  display: flex;
	  flex-direction: column;
	  flex-shrink: 0; 
	}
	button {outline:0 !important; cursor: pointer;}
	button:focus {
	box-shadow: inset 0 0 !important;
	}

	:root {
	 --pink: #FAD1D9;
	 --blue: #C5F6FF;
	 --stroke: #522438; 
	 --green: #C2E688;
	 --red: #FC6963;
	 --light-brow: #846662;
	 --gray: #9EA1AF;
	}


	body {
	 background-color: var(--pink);
	}
	.gameboy {
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  height: 100vh;
	  width: 100vw;
	  padding: 10px;
	}
	.gameboy-body {
	 background-color: var(--blue);
	 width: 100%;
	 max-width: 350px;
	 height: 95%;
	 border-radius: 20px 20px 50px;
	 border: 6px solid var(--stroke);	 
	 box-shadow: inset 10px 0 rgba(255,255,255,0.7), inset -10px 0 rgba(0,0,0,0.2);
	 position: relative;
	}

	header {
	 width: 100%;
	 height: 36px;
	 border-bottom: 6px solid var(--stroke); 
	 position: relative;
	 box-shadow: 0 6px rgba(0,0,0,0.2);
	}
	header:after, header:before {
	 content: "";
	 height: 100%;
	 width: 6px;
	 background-color: var(--stroke);
	 position: absolute;
	}
	header:before {left: 30px;}
	header:after {right: 30px;}

	.screen {
		display: flex;
		flex-direction: column;
		height: 45vh;
		background-color: var(--light-brow);
		margin: 12px 12px 8px 12px;
		border: 6px solid var(--stroke);
		padding: 4px;
		border-radius: 10px 10px 30px;
		position: relative;
	}
	
	.screen .glass {
	 width: 100%;
	 height: 100%;
	 background-color: var(--green);
	 border: 6px solid var(--stroke);
	 box-shadow: inset 6px 6px rgba(0,0,0,0.2);
	 overflow: hidden;
	 position: absolute;
	 padding: 2px;
	 display: none;
	}
	
	.glass:after, .glass:before {
	 content: "";
	 height: 200%;
	 width: 30px;
	 background-color: rgba(255,255,255,0.4);
	 position: absolute;
	 transform: rotate(45deg);
	 top: -80px;
	}
	.glass:after {right: -20px; width: 50px !important;}
	
	.screen span {
	 width: 10px;
	 height: 10px;
	 background-color: var(--red);
	 position: absolute;
	 left: 10px;
	 border-radius: 50%;
	 border: 2px solid var(--stroke);
	 top:50%;
	 margin-top: -10px;
	}
	
	.screen:after, .screen:before {
	 content:"";
	 height: 3px;
	 position: absolute;
	 top: 12px;
	 background-color: var(--stroke); 
	}
	.screen:before {
	 width: 100px;
	 left: 10px;
	}
	.screen:after {
	 width: 30px;
	 right: 10px;
	}

	.actions {
	 padding: 0 14px;
	 position: relative;
	 height: 180px;
	}
	
	.directions {
		width: 100px;
		height: 100px;
		border-radius: 50%;
		border: 6px solid var(--stroke);
		background-color: var(--gray);
		position: absolute;
		left: 30px;
		top: 20px;
	}
	
	.directions button {
	 border: 6px solid var(--stroke);
	 background-color:var(--light-brow);
	 width: 25px;
	 height: 25px;
	 position: absolute;
	 z-index: 9;
	}
	.arrow-left {
	 border-right: none !important;
	 box-shadow: inset 0 4px #fff, inset 0 -4px rgba(0,0,0,0.2);
	 top: 50%;
	 margin-top: -12.5px;
	 left: 11px;
	}
	.arrow-top {
	 border-bottom: none !important;
	 box-shadow: inset 0 4px #fff;
	 left: 50%;
	 margin-left: -12.5px;
	 top: 11px;
	}
	.arrow-right {
	 border-left: none !important;
	 box-shadow: inset 0 4px #fff, inset 0 -4px rgba(0,0,0,0.2);
	 top: 50%;
	 margin-top: -12.5px;
	 right: 11px;
	}
	.arrow-bottom {
	 border-top: none !important;
	 box-shadow: inset 0 -4px rgba(0,0,0,0.2);
	 left: 50%;
	 margin-left: -12.5px;
	 bottom: 11px;
	}

	.directions:after {
	 content: "";
	 width: 25px;
	 height: 25px;
	 background-color: var(--light-brow);
	 position: relative;
	 top: 50%;
	 left: 50%;
	 margin: -12.5px;
	 z-index: 1;
	}
	
	.buttons {
	 border: 6px solid var(--stroke);
	 padding: 6px 2px;
	 background-color: var(--gray);
	 border-radius: 100px;
	 position: absolute;
	 transform: rotate(-20deg);
	 right: 30px;
	 top: 40px;
	}
	
	.buttons button {
	 background-color: var(--red);
	 border: 6px solid var(--stroke);
	 border-radius: 50%;
	 width: 35px;
	 height: 35px;
	 padding: 0;
	 box-shadow: inset 4px 0 rgba(255,255,255,0.7), inset -4px 0 rgba(0,0,0,0.2);
	 margin: 0 4px;
	}
	
	.start-reset  {
	 list-style: none;
	 text-align: center;
	 width: 100%;
	 padding: 0;
	 margin: 0;
	 position: absolute;
	 bottom: 0px;
	 left: 0;
	}
	
	.start-reset li {
	 display: inline-block;
	 margin: 0 25px;
	}
	
	.start-reset li button {
	 border: 6px solid var(--stroke);
	 background-color:var(--light-brow);
	 width: 18px;
	 height: 45px;
	 padding: 0;
	 border-radius: 8px;
	 box-shadow: inset 3px 0 #fff, 3px 0 rgba(0,0,0,0.2);
	 transform: rotate(60deg);
	 position: relative;
	 left: -20px;
	 top: -8px;
	}
	
	.points {
	 text-align: center;
	 position: absolute;
	 right: 20px;
	 bottom: 0px;
	}
	
	.points span {
	 font-size: 18px;
	 line-height: 0px;
	 letter-spacing: 2px;
	 margin-top: -3px;
	 display: block;
	 color: var(--stroke);
	}

	.body-legenda{
		display: none;
	}
}

/* @media only screen and (max-device-width: 724px) {
	canvas {
		display: grid;
		grid-template-columns: auto;
        width: 100%;
		height: 100%;
		border: 6px solid var(--stroke);
		box-shadow: inset 6px 6px rgba(0,0,0,0.2);
		overflow: hidden;
		position: relative;
	}
	
	#overlappingDiv {
	  background-color: black;
	  position: absolute;
	  top: 0;
	  right: 0;
	  bottom: 0;
	  left: 0;
	  opacity: 0;
	  pointer-events: none;
	  z-index: 10;
	}
	
	#characterDialogueBox {
		box-sizing: border-box;
		position: relative;				 
        background-color: white;
	  	height: 90vh;
        width: 80vw;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    border-top: 4px black solid;
	    display: none;
	    padding: 12px;
	}
	#characterDialogueBox.textContent {
		font-family: 'Sono', sans-serif;
	}
	

	* { box-sizing: border-box; }
	html, body { 
	  min-height: 100vh; margin: 0;   
	  display: flex;
	  flex-direction: column;
	  flex-shrink: 0; 
	}
	button {outline:0 !important; cursor: 
	 pointer;}
	button:focus {
	box-shadow: inset 0 0 !important;
	}

	:root {
	 --pink: #FAD1D9;
	 --blue: #C5F6FF;
	 --stroke: #522438; 
	 --green: #C2E688;
	 --red: #FC6963;
	 --light-brow: #846662;
	 --gray: #9EA1AF;
	}


	body {
	 background-color: var(--pink);
	}
	.gameboy {
	  display: grid;
	  align-items: center;
	  justify-content: center;
	  height: 100vh;
	}
	.gameboy-body {
	 background-color: var(--blue);
	 max-width: 100%;
	 height: 100%;
	 border-radius: 20px 20px 50px;
	 border: 6px solid var(--stroke);	 
	 box-shadow: inset 10px 0 rgba(255,255,255,0.7), inset -10px 0 rgba(0,0,0,0.2) ;
	 position: relative;

	}
	header {
	 width: 100%;
	 height: 36px;
	 border-bottom: 6px solid var(--stroke); 
	 position: relative;
	 box-shadow: 0 6px rgba(0,0,0,0.2) ;
	}
	header:after, header:before {
	 content: "";
	 height: 100%;
	 width: 6px;
	 background-color: var(--stroke);
	 position: absolute;
	}
	header:before {left: 30px;}
	header:after {right: 30px;}

	.screen {
    display: grid;
    grid-template-columns: auto;
	 height: 55vh; 
	 background-color: var(--light-brow);
	 margin: 8px 0 0 8px;
	 border: 6px solid var(--stroke);
	 padding: 4px;
	 border-radius: 10px 10px 30px;
	 position: relative;
	 align-content: center;
	}
	.screen .glass {
	 width: 100%;
	 height: 100%;
	 background-color: var(--green);
	 border: 6px solid var(--stroke);
	 box-shadow: inset 6px 6px rgba(0,0,0,0.2);
	 overflow: hidden;
	 position: absolute;
	 padding: 2px;
	 display: none;
	}
	.glass:after, .glass:before {
	 content: "";
	 height: 200%;
	 width: 30px;
	 background-color: rgba(255,255,255,0.4);
	 position: absolute;
	 transform: rotate(45deg);
	 top: -80px;
	}
	.glass:after {right: -20px; width: 50px !important;}
	.screen span {
	 width: 10px;
	 height: 10px;
	 background-color: var(--red);
	 position: absolute;
	 left: 10px;
	 border-radius: 50%;
	 border: 2px solid var(--stroke);
	 top:50%;
	 margin-top: -10px;
	}
	.screen:after, .screen:before {
	 content:"";
	 height: 3px;
	 position: absolute;
	 top: 12px;
	 background-color: var(--stroke); 
	}
	.screen:before {
	 width: 100px;
	 left: 10px;
	}
	.screen:after {
	 width: 30px;
	 right: 10px;
	}

	.actions {
	 padding: 10px 14px 0;
	}
	.directions {
	width: 120px;
	height: 120px;
	 border-radius: 50%;
	 border: 6px solid var(--stroke);
	 background-color: var(--gray);
	 position: relative;
	 display: flex;
	 float: left;
	}
	.directions button {
	 border: 6px solid var(--stroke);
	 background-color:var(--light-brow);
	 width: 30px;
	 height: 30px;
	 position: absolute;
	 z-index: 9;
	}
	.arrow-left {
	 border-right: none !important;
	 box-shadow: inset 0 4px #fff, inset 0 -4px rgba(0,0,0,0.2);
	 top: 50%;
	 margin-top: -15px;
	 left: 13.5px;
	}
	.arrow-top {
	 border-bottom: none !important;
	 box-shadow: inset 0 4px #fff;
	 left: 50%;
	 margin-left: -15px;
	 top: 13.5px;
	}
	.arrow-right {
	 border-left: none !important;
	 box-shadow: inset 0 4px #fff, inset 0 -4px rgba(0,0,0,0.2);
	 top: 50%;
	 margin-top: -15px;
	 right: 13.5px;
	}
	.arrow-bottom {
	 border-top: none !important;
	 box-shadow: inset 0 -4px rgba(0,0,0,0.2);
	 left: 50%;
	 margin-left: -15px;
	 bottom: 13.5px;
	}

	.directions:after {
	 content: "";
	 width: 30px;
	 height: 30px;
	 background-color: var(--light-brow);
	 position: relative;
	 top: 50%;
	 left: 50%;
	 margin: -15px;
	 z-index: 1;
	}
	.buttons {
	 border: 6px solid var(--stroke);
	 padding: 8px 3px;
	 background-color: var(--gray);
	 border-radius: 100px;
	 float: right;
	 position: relative;
	 transform: rotate(-20deg);
	 top: 30px;
	}
	.buttons button {
	 background-color: var(--red);
	 border: 6px solid var(--stroke);
	 border-radius: 50%;
	 width: 40px;
	 height: 40px;
	 padding: 0;
	 box-shadow: inset 4px 0 rgba(255,255,255,0.7), inset -4px 0 rgba(0,0,0,0.2) ;
	 margin: 0 5px;
	}
	.start-reset  {
	 list-style: none;
	 text-align: center;
	 width: 100%;
	 float: left;
	}
	.start-reset li {
	 display: inline-block;
	 margin: 0 15px;

	}
	.start-reset li button {
	 border: 6px solid var(--stroke);
	 background-color:var(--light-brow);
	 width: 20px;
	 height: 50px;
	 padding: 0;
	 border-radius: 10px;
	 box-shadow: inset 3px 0 #fff, 3px 0 rgba(0,0,0,0.2);
	 transform: rotate(60deg);
	 position: relative;
	 left: -25px;
	 top: -10px;
	}
	.points {
	 text-align: center;
	 position: absolute;
	 right: 20px;
	 bottom: 20px;
	}
	.points span {
	 font-size: 25px;
	 line-height: 0px;
	 letter-spacing: 3px;
	 margin-top: -3px;
	 display: block;
	 color: var(--stroke);
	}

	.body-legenda{
		display: none;
	}
} */